<h1 mat-dialog-title>Add post</h1>

<label for="file">Choose files</label>
<div mat-dialog-content>
  <div>
    <input type="file"
           id="file"
           accept=".png"
           (change)="handleFileInput($event.target.files)"
           style="visibility: hidden"
           multiple>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea style="resize: none" rows="4" maxlength="280" [(ngModel)]="description" matInput></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="addPost()" [disabled]="!images || images.length === 0">Add</button>
</div>
