.example-card {
  width: 500px;
}

:host {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.spacer {
  flex: 1 1 auto;
}

.post {
  float: right;
  margin-top: 15px;
}

.comment {
  border: none;
  width: 85%;
  margin-top: 25px;
  outline: none;
  float: left;
}
